<?xml version="1.0"?>
<launch>
    <arg name="cameras_list" default="[0, 1, 2, 3]"/>
    <arg name="res" default="256"/>
    <arg name="number_people_max" default="1" />
    <arg name="headless_mode" default="true"/>
    <arg name="num_gpus" default="2"/>

    <node name="multi_openpose" pkg="ros_openpose" type="multi_openpose.py">
        <param name="cameras_list" value="$(arg cameras_list)" />
        <param name="res" value="$(arg res)" />
        <param name="number_people_max" value="$(arg number_people_max)" />
        <param name="headless_mode" value="$(arg headless_mode)" />
        <param name="num_gpus" value="$(arg num_gpus)" />
    </node>

</launch>